.container {
    max-width: 1340px;
    margin: 0 auto;
}
body.lock {
    overflow: hidden;
}
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/titles';
@import 'blocks/information';
@import 'blocks/design';
@import 'blocks/slider';
@import 'blocks/home';
@import 'blocks/make';
@import 'blocks/dream';
@import 'blocks/footer';
@import 'blocks/media';