.design {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 81px;
    }
    &__title {
        padding-top: 80px;
    }
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #000000;
        margin-top: 26px;
    }
    &__item {
        &_title {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            line-height: 30px;
            text-align: center;
            color: #000000;
            margin-top: 48px;
        }
        &_link {
            text-align: center;
            margin-top: 23px;
            a {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #000000;
                text-decoration: none;
            }
        }
    }
}