.home {
    background: url(../../image/homeBG.png) center center / cover no-repeat;
    min-height: 504px;
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 66px;
        line-height: 70px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 174px;
    }
    &__subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.8px;
        color: #FFFFFF;
        margin-top: 14px;
    }
    &__link {
        text-align: center;
        margin-top: 30px;
        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 1.4px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}