.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    margin-top: 23px;

}